@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background-color: #242527;
}

.title {
  background: #95CFB8;
  background: linear-gradient(to right, #95CFB8 0%, #296CCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.25rem;
  text-align: center;
  text-transform: uppercase;

}
